@import "./reset.css";
@import "./pretendard.css";

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Pretendard";
  font-size: 1.4rem;
}

.ir-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
