@import './reset.css';
@import './pretendard.css';

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  font-family: 'Pretendard';

}

body {
  overflow-y: scroll;
  font-family: 'Pretendard';
  font-size: 1.4rem;
}

.ir-text {
  text-indent: 105%;
  white-space: nowrap;
  overflow: hidden;
}
